.footer-button {
    padding: 10px 16px;
    background-color: white;
    border: 1px solid #E4E8EE;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 14px;
    color: #091B29;
}
.footer-button:hover {
    background-color: #5078E1;
    color: white;
    cursor: pointer;
}