.paper-layout {
    background-color: #F5F7FA;
    height: 100ch;
}
.box-layout-content {
    font-size: 12px;
    color: #4E5A6B;
}
.box-layout-img {
    width: 80%;
    margin-top: 12px;
    margin-bottom: 24px;
}
.box-layout-button {
    padding: 8px 16px;
    border: 1px solid #E4E8EE;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}