.search-bar {
    margin-bottom: 20px;
}
.funnel {
    border: 1px solid #F2F4F7;
    border-radius: 8px;
    padding: 15px 15px;
}
.search {
    width: 340px;
    height: 40px;
    background-color: #F5F7FA;
    border: 1px solid #E4E8EE;
    border-radius: 10px;
    padding: 12px 10px;
}
.table-header {
    background-color: #F2F4F7;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 12px;
    color: #4E5A6B;
}
.table-property-list {
    height: 52px;
    border-bottom: 1px solid #F2F4F7;
    font-size: 14px;
    align-items: center;
}
.last-element {
    margin-bottom: 200px;
}
