.menu {
    background-color: #333333;
    padding: 16px 23px;
    height: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.menu-arrow-icon {
    color: white;
    border-radius: 50%;
    background-color: #5078E1;
}
.menu-icon:active {
    background-color: #5078E1;
}