.navbar {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 11px 23px;
    margin-bottom: 12px;
}
.navbar-icon {
    margin-right: 8px;
    border-radius: 50%;
    background-color: #E4E8EE;
}
.title {
    font-size: 16px;
    color: black;
}