.error-message {
    margin: 0;
    display: block;
    color: red;
    font-size: 12px;
}
.input {
    width: 100%;
    box-sizing: border-box;
    height: 25px;
    margin-top: 7px;
    border: 1px solid #E4E8EE;
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 14px;
    color: black;
}
input[type=submit] {
    width: 100%;
    background-color: #5078E1;
    border: none;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 12px;
    cursor: pointer;
}
