.header {
    background-color: #1C1C1C;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.header-content {
    display: flex;
    align-items: center;
}
.header-logo {
    width: 35%;
    margin-right: 10px;
}
.line {
    color: white;
}
.header-name {
    color: white;
    font-size: 10px;
    margin-left: 10px;
}
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bell-icon {
    color: white;
    margin-right: 40px;
    cursor: pointer;
}
.header-avatar {
    margin-right: 8px;
    width: 4%;
    border-radius: 50%;
}
.avatar-name {
    position: relative;
    bottom: 20px;
    font-size: 12px;
    color: white;
}
.avatar-role {
    position: relative;
    right: 72px;
    font-size: 10px;
    color: #98A0AC;
}
.header-arrow {
    color: white;
}