.bg-color-blue {
    background-color: #5078E1;
    position: relative;
}
.view-height {
    height: 100vh;
}
.top-ring {
    position: relative;
    left: 30%;
    bottom: 120px;
}
.img-building {
    width: 1100px;
    zoom: 90%;
    position: absolute;
    right: 550px;
    top: 220px;
}
.signin-card {
    position: absolute;
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    left: 50%;
    bottom: 25%;
}
.signin-card-description {
    color: #091B29;
    font-size: 24px;
    font-weight: 900px;
}
form {
    margin-top: 32px;
}
.forgot-password {
    font-size: 12px;
    text-align: right;
    margin-bottom: 60px;
    margin-top: 5px;
}
.forgot-password a {
    text-decoration: none;
    color: #5078E1; 
}
.company-description {
    text-align: center;
}
.company-description img {
    position: relative;
    top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
